body
{
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
*{
    font-family:Arial, Helvetica, sans-serif;
}
.Symbol{
    transform: rotate(270deg);
    display: inline-block;
    font-size:x-small;
    margin-left: 2px;
}
.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;

    vertical-align: middle;
    justify-content: space-between;
    border-style: none;
}
.Categories
{
    margin-right: 400px;
    display: flex;
    vertical-align: middle;
    padding-left: 35px;
    
}
.Title{
    color: white;
    text-decoration: none;
    display: inline-block;
    font-weight: 1000;
    font-size: large;
    cursor: pointer;
    margin-top: 18px;
}
.list
{
    width: fit-content;
    margin-left:0;
}
.Interact
{
    vertical-align: middle;
    margin: 10px;
}
button{
    background-color: black;
    color: white;
    border: none;
    font-size: medium;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
}
button:hover
{
    opacity: 0.7;
}
.box1{
    width: 100%;
    position: relative;
    display: flex;
    vertical-align: middle;
    background-color: blueviolet;
    color: white;
}
.empty
{
    padding: 0;
    flex: 1;
}
.Slider
{
    flex: 1;
    text-align: center;
    font-size: small;
    font-weight: 700;
}
.arrow-right{
    font-size: smaller;
}
.Nothing:hover
{
    cursor: pointer;
    text-decoration: underline;
}
.Main{
    width: 100%;
    background-image: url("MAINPIC.jpg");
    height: 700px;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: flex-end;
}
.Customize{
    padding-top: 200px;
    margin-right: 55%;
    width: 500px;
}
.Titull{
    font-size: 36px;
    margin-bottom:10px;
}
.Description{
    font-size: large;
    color: black;
}
.Customize-PC{
    color: white;
    background-color: blueviolet;
    padding: 10px;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 20px;
    border-radius: 10px;
    transition: transform 0.2s;
    transition: background-color 0.2s;
    transition: box-shadow 0.1s;
    
}
.Customize-PC:hover
{
    background-color:rgba(122, 0, 236, 0.956);
    transform: scale(1.1);
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}
.text{
    font-size: small;
    color: gray;
}
.Player-PC
{
    margin:auto;
    max-width: 1536px;
    width: 1024px;
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    background-image: url("PlayerPC.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.Player-PC-content
{
    align-content: flex-start;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 30px;
}
.Player-PC-content p
{
    max-width:400px;
    color: white;
    line-height: 24px;

}
.Player-PC-content h1{
    font-weight: 700;
    color: white;
    margin: 0;
    margin-bottom: 20px;
}
.Player-PC-cost
{
    font-weight: 700;
    margin-bottom: 10px;
}
.Shop-Player-PC{
    border-style: solid;
    border-color: white;
    background: none;
    padding: 10px;
    border-radius: 10px;
    max-width: 250px;
    transition: transform 0.2s;
    transition: box-shadow 0.1s;
    margin-bottom: 150px;
}
.Shop-Player-PC:hover
{
    opacity: 1;
    transform: scale(1.1);
    box-shadow: 5px 5px 5px gray;
}
.Short{
    align-content: center;
    vertical-align: middle;
    text-align: center;
   } 
   .Container
   {
    display: flex;
    justify-content: center;
    vertical-align: top;
    transition: opacity 0.2s;
   }
   .Prebuilt:hover .Quick-Shop
   {
    opacity: 1;
   }
   .Prebuilt{
    cursor: pointer;
    vertical-align: middle;
    width: fit-content;
    height: fit-content;
    background-image: url("pcbackground.jpg");
    background-repeat: no-repeat;
    margin-right: 40px;
    margin-bottom: 40px;
    object-fit: contain;
   }
   .Prebuilt-image{
    padding: 0px 16px 0px 16px;
    transition: transform 0.2s;
    cursor: pointer;
   }
   .Prebuilt-image:hover{
    transform: scale(1.03);
   }
   .Promotion{
    background-color: #81DF8B;
    color: black;
    margin: 15px;
    border-radius: 5px;
    padding: 4px 8px 4px 8px;
   }
   .Promotion:hover{
    opacity: 1;
   }
   .Quick-Shop
   {
    height: max-content;
    vertical-align: bottom;
    opacity: 0;
    background-color: gray;
    color: rgb(73, 68, 68);
    text-align: center;
    cursor: pointer;
    transition: opacity 0.2s,color 0.2s,background-color 0.2s;
   }
   .Quick-Shop:hover
   {
    background-color:rgb(115, 21, 229);
    color: white; 
   }
   .Quick-Shop p
   {
    font-weight: 500;
    font-size: larger;
    margin: 0;
    padding: 10px;
   }
   .Rating 
   {
    font-size: 12px;
    color: #737279;
    margin: 6px 0px 6px 0px
   }
   .INFO{
    margin: 0px 0px 3px 0px;
    font-size: 12px;
    color: #59595F;

   }
   .SHOP{
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: rgb(115, 21, 229);
    border-radius: 8px;
    transition: transform 0.2s;
   }
   .SHOP:hover
   {
    transform: scale(1.05);
    background-color:rgb(120, 21, 229) ;
   }
   .Rent-PC
       {
        padding: 0;
        display: flex;
        vertical-align: middle;
        margin: auto;
        background-image: url("afterflexbckgrnd.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 1200px;
        height: fit-content;

       }
       .Rent-PC-Text
       {
        width: 500px;
        padding: 30px;
       }
       .Rent-PC-Img
       {
        justify-content: center;
        vertical-align: middle;
        margin: 20px;
        padding-left: 100px;
       }
       .Footer{
        margin-top: 50px;
        background-image: url("Footerbckg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 100%;
       }
       .Socials
       {
        padding-right:800px;
        display: flex;
       }
       ul
       {
        display: flex;
        list-style: none;
       }
       li{
        height: 30px;
        margin: 15px;
       }
       .Footer-categories
       {
        justify-content: center;
        display: flex;
        flex-direction: row;
        margin-bottom: 150px;
       }
       .Footer-Contact
       {
        font-size: 14px;
        color: white;
        padding-right: 30px;
        margin-right:50px;
       }
       .Footer-buttons{
        padding: 0;
        margin-bottom: 15px;
        font-size: 14px;
        background-color: transparent;
        color: #91919c;
        display: block;
        transition: color 0.3s;
       }
       .Footer-buttons:hover{
        color: white;
       }
       .END
       {
        padding-bottom: 20px;
        height: fit-content;
        display: flex;
        justify-content:left;
        flex-direction: row;
       }
       .END-END
       {
        padding-right: 650px;
        color: white;
        font-size: 12px;
       }
       .END-buttons
       {
        width: fit-content;
        padding: 0;
        margin-left:20px;
        font-size: 12px;
        background-color: transparent;
        color: #91919c;
        transition: color 0.3s;
       }
.Search
{
    width: 100%;
    display: flex;
    opacity: 0;
    color: white;
    background-color: #737279;
    padding: 5px;
}
.Search-bar
{
    min-width: 1280px;
    max-width: 1280px;
    flex:1;
    color: white;
}
.Search-bar input
{
    color: white;
    outline: none;
    border: none;
    padding: 5px;
    width: 100%;
    border-width: 0;
    border-style: none;
    background-color:#737279;
}
.Search-bar input::placeholder
{
    color: white;
}


@media (max-width:800px) 
{
    body{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .navbar{
        width: 100%;
        background-color: blueviolet;
        height: fit-content;
    }
    .empty
    {
        display: none;
    }
    .Rent-PC
    {
        flex-direction: column;
        width: 100%;
    }
    .Rent-PC-Text
    {
        font-size: medium;
        width: fit-content;
    }
    .Categories
    {
        margin-right: auto;
        display: flex;
        justify-content: flex-start;
    }
    .Search
    {
        display: none;
    }
    .I{
        display: none;
    }
    button{
        background-color: blueviolet;
    }
    .box1{
        color: blueviolet;
        background-color: white;
    }
    .Main{
        flex-direction: column;
        justify-content: center;
        background-size: cover ;
    }
    .Customize
    {
        margin: 0;
        width: fit-content;
        padding-top: 10px;
    }
    .Player-PC
    {
        width: 100%;
        background-position: right;
    }
    .Container{
        flex-wrap: wrap;
    }
    .Rent-PC-Img
    {
       padding: 10px;
    }
    .Socials
    {
        justify-content: left;
        padding-left:0;
    }
    ul{
        padding: 0;
    }
    li
    {
        margin: 10px;
    }
    .Footer-categories
    {
        flex-wrap: wrap;
    }
    .Footer-Contact
    {
        margin: auto;
    }
    .Footer-categories
    {
        margin-bottom: 40px;
    }
    .END-END
    {
        padding: 0;
    }

}
