.Checkout-title
{
    margin:0px;
    padding-top:130px;
    margin-bottom: 130px;
    text-align: center;
}
.Review-Order
{
    text-align: center; 
    margin-right:900px
}
.centered-div
{
    display: flex;
    justify-content: center;
    align-content: center;
}
.Pending-Products
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style:groove;
    border-color: rgba(122, 0, 236, 0.956);
    min-width: 600px;
    width: fit-content;
    padding: 10px;
    margin:10px;
    margin-right:110px;
}
.Pending-Products-Content
{
    display: flex;
    flex-direction: row;
}
.Product-Info
{
    padding-left:10px;
}
.Product-Info p
{
    margin:10px;
}
.Product-Shipping
{
    margin-left:50px;
    margin-right:50px;
}
.Date
{
    background-color: rgba(122, 0, 236, 0.956);
}
.shipping
{
    color: gray;
    display: block;
    padding-left:20px;
    margin-bottom:5px;
}
.update
{
    border-style: none;
    background-color: white;
    cursor: pointer;
    color: rgba(122, 0, 236, 0.956);
}
.Order-Summary
{
    border-style: groove;
    border-color: rgba(122, 0, 236, 0.956);
    margin-top:10px;
    padding:15px;
    width:400px;
    height:auto;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
.Order-Summary-Prices
{
    margin-top: 10px;
    margin-bottom:10px;
    display: flex;
    flex-direction:row;
}
.Finish-Order
{
    color: white;
    background-color: blueviolet;
    width: 90%;
    padding: 10px;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 20px;
    border-radius: 10px;
    transition: transform 0.2s;
    transition: background-color 0.2s;
    transition: box-shadow 0.1s;
}
.Finish-Order:hover
{
    background-color:rgba(122, 0, 236, 0.956);
    transform: scale(1.1);
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}