body
{
    justify-content: center;
    display: flex;
    height: 100vh;
    margin: 0;
}
*{
    font-family:Arial, Helvetica, sans-serif;
}
.Symbol{
    transform: rotate(270deg);
    display: inline-block;
    font-size:x-small;
    margin-left: 2px;
}
.navbar{
    position: fixed;
    top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    vertical-align: middle;
    justify-content: space-between;
    border-style: none;
}
.Categories
{
    margin-right: 500px;
    display: flex;
    vertical-align: middle;
    padding-left: 0px;
}
.Title{
    color: white;
    text-decoration: none;
    display: inline-block;
    font-weight: 1000;
    font-size: large;
    cursor: pointer;
    margin-top: 18px;
}
.list
{
    width: fit-content;
    margin-left:0;
}
.Interact
{
    vertical-align: middle;
    margin: 10px;
}
button{
    background-color: black;
    color: white;
    border: none;
    font-size: medium;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
}
button:hover
{
    opacity: 0.7;
}
.box1{
    position: fixed;
    width: 100%;
    display: flex;
    vertical-align: middle;
    background-color: blueviolet;
    color: white;
}
.empty
{
    padding: 0;
    flex: 1;
}
.Slider
{
    flex: 1;
    text-align: center;
    font-size: small;
    font-weight: 700;
}
.arrow-right{
    font-size: smaller;
}
.Nothing:hover
{
    cursor: pointer;
    text-decoration: underline;
}
.Table
{
    min-width: 1000px;
    max-width: fit-content;
    font-size: 10px;
    margin: 30px;
    margin-bottom:5px;
}
@media (max-width:600px) 
{
    body{
        width: 100%;
        margin: 0;
        padding: 0;
    }
}